* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* css for navbar  */

.appHeader .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.appHeader .navbar-brand {
    width: 120px;
    display: inline-block;
}

.brandSlider .carousel-item {
    height: 450px;
}

.brandSlider .carousel-item img {
    height: 100%;
    object-fit: cover;
}

.brandSlider .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.brandSlider .carousel-item:nth-child(1) {
    background-image: url(https://iamrk-js.github.io/bootstrap4/assets/images/image1.jpg);
}

.brandSlider .carousel-item:nth-child(2) {
    background-image: url(https://iamrk-js.github.io/bootstrap4/assets/images/image2.jpg);
}

.brandSlider .carousel-item:nth-child(3) {
    background-image: url(https://iamrk-js.github.io/bootstrap4/assets/images/image3.jpg);
}


.brandSlider .carousel-caption {
    bottom: auto;
    top: 20%;
}



/* homeHeading css  */

.homeHeading, .video {
    background-image: url('https://iamrk-js.github.io/bootstrap4/assets/images/lights.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.homeHeading::before, .video::before {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.homeHeading .row{
    z-index: 10;
}
  

/* video css  */

.video{
   background-image: url('https://iamrk-js.github.io/bootstrap4/assets/images/media.jpg');
}


.footer{
   background-color: #000;
   font-size: 18px;
}